@import "./applications-mobile.scss";
@import "./sections-responsive.scss";
@import "./applications-table.scss";
@import "./application-detail.scss";
@import "./new-application.scss";
@import "./sections-table-fixes.scss";
