// src/components/layout/header/styles/_variables.scss
// Убираем $ из значений, которые используют CSS переменные

// Высота хедера
$header-height: 140px;
$header-height-mobile: 100px;

// Z-index слои
$header-z-index: 1000;
$menu-z-index: 1001;

// Анимации
$transition-fast: 0.15s;
$transition-base: 0.3s;
$transition-slow: 0.5s;
